{snippet legalNoticeAlert}
    <div n:if="$showLegalNoice" class="affix col-sm-offset-1 col-sm-10 alert alert-legal alert-dismissible" role="alert" style=" bottom: 0px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>Kamery nejsou určeny ke snímání osob a jejich pohybu a není z nich pořizován záznam.</p>
        <p>Tento web používá k poskytování služeb, personalizaci reklam a analýze
            návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.
            <a class="alert-link" href="https://www.google.com/policies/technologies/cookies/">Další&nbsp;informace</a>
        </p>
        <p>
            <a class="ajax btn btn-info" rel="nofollow" n:href="accept!">Rozumím</a>
        </p>
    </div>
{/snippet}