/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.5.2019, 19:15:16
    Author     : Karel
*/

.alert-legal {
    color: #bbb;
    background-color: #000;
    border-color: #333;
    opacity: 0.85;
}
.alert-legal hr {
    border-top-color: #fff;
}
.alert-legal .alert-link {
    color: #fff;
}

.alert-legal .close {
    color: #fff;
    text-shadow: 0 1px 0 #777;
}
.alert-legal .close:hover,
.alert-legal .close:focus {
    color: #fff;
}